:root{
    --bgC: hsl(0, 0%, 100%);
    --pbrandC: hsl(213, 46%, 12%);
    --ftOnBG: hsl(0, 0%, 7%);
    --accC: hsl(166, 100%, 20%);
    --padding: 0.8rem;
    --primaryFont: 'Verdana';
    --secoFont: 'Candara';
}
body{
    margin: 0;
}
button{
    color: var(--bgC);
    background-color: var(--pbrandC);
    padding: var(--padding);
    border-radius: 5px;
    font-family: var(--primaryFont);
    cursor: pointer;
    border: none;
    margin: 3px;
}
button:hover{
    background-color: hsl(213, 46%, 22%);
}
button:disabled{
    background-color:hsla(213, 46%, 12%, 0.6);
}
button:active{
    background-color: hsl(213, 46%, 32%);
}
.buttonOnBrand{
    background-color: var(--accC);
}
.buttonOnBrand:disabled{
    background-color: hsla(166, 100%, 30%, 0.65);
}
.buttonOnBrand:hover{
   background-color:hsl(166, 100%, 30%);
}
.buttonOnBrand:active{
   background-color:hsl(166, 100%, 40%);
}
.textBlock, .motionCard,.textBlock li,.testimonials, .testimonialsSection{
    background-color: hsl(0, 0%, 90%);
    padding: 0.5rem;
    padding-top: var(--padding);
    font-family: var(--primaryFont);
    border-radius: 1rem;
    margin-top: 0.3rem;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.profileCard{
    background-color: var(--pbrandC);
    margin: 5px;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--bgC);
    display: flex;
    font-family: var(--primaryFont);
    gap: 1rem;    
}
.profileCard img{
    width: clamp(100px, 50vw, 400px);
    border-radius: 1rem;
}
.profileCard strong{
    color: var(--accC);
}
.motionCard{
    text-align: center;
}
.motionCard p{
    font-family: var(--secoFont);
    border: 1px solid var(--accC);
    border-radius: 1rem;
    text-align: center;
    padding: var(--padding);
}
.testimonials{
    margin: 2px;
    box-shadow: -2px -2px 2px var(--accC);
}
.lineAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    height: 1px;
    background-color: var(--accC);
    color: var(--accC);
    flex-grow: 1;
}
.testimonials p{
    text-align: right;
}
.testimonials:hover{
    scale: 1.03;
    color: var(--accC);
}
.testimonials:hover p .dLink{
    color: var(--accC);
}
.testimonials p .dLink{
    text-decoration: none;
    color: var(--pbrandC);
    display: inline;
    text-align: right;
}
.quoteMark{
    fill: var(--pbrandC);
    color: var(--pbrandC);
}
.testimonials:hover .quoteMark{
    fill: var(--accC);
    color: var(--accC);
}
.textBlock h2{
    color: var(--pbrandC);
}
.whatWeDoCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.whatWeDoCard{
    background-color: var(--pbrandC);
    display: flex;
    flex-direction: column;
    color: var(--bgC);
    margin: 1rem;
    width:clamp(100px, 33vw, 200px);
    min-height: 100px;
    border-radius: 2vw;
    padding: 1.5rem;
    text-align: center;
}
.whatWeDoCard p{
    color: white;
    width: 90%;
}
.whatWeDoCard:hover{
    scale: 1.1;
    color: var(--accC);
}
.iconWrapper:hover{
    scale: 1.2;
}
label{
    font-family: var(--secoFont);
}
.logo{
    font-family: var(--primaryFont);
    color: var(--bgC);
    display: flex;
    align-items:center;
    width: 100%;
}
.logoImage{
    height: 15vw;
    max-height: 100px;
    float: left;
    border-radius: 50%;
}
.navBar{
    background-color: var(--pbrandC);
}
.navBar p{
    font-size: clamp(1rem,4vw,3rem);
    font-weight: bold;
}
.hamburger{
    font-size: 1.2rem;
    background: none;
    display: none;
    position: absolute;
    margin: none;
    right: 1rem;
}
.sideBarDrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
}
.sidebarOpen{
    position: fixed;
    top: 0;
    left:0;/*hidden by default */
    width: 200px;
    height: 100%;
    background-color: var(--pbrandC);
    color: var(--bgC);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
}
.sidebarClosed{
    left:0;
}
.sidebarClosed .navLink{
    display: none;
}
.navLinks{
    display: flex;
    flex-wrap: wrap;
}
.navLink{
    text-decoration: none;
    color: var(--bgC);
    padding: 0.5rem;
    font-family: var(--primaryFont);
}
.navLink:hover{
    background-color: hsl(213, 46%, 22%);
}
.carousel{
    position: relative;
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 1rem;
}
.slide{
    position: relative;
    display: flex;
}
.slide img{
    max-height: 70vh;
    object-fit:cover;
    flex-grow: 1;
}
.caption{
    box-sizing: border-box;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: white;
    font-family: var(--secoFont);
    background-color: var(--pbrandC);
    font-size: 2rem;
    font-weight: bold;
}
footer{
    background-color: var(--pbrandC);
    padding: var(--padding);
    margin-bottom: 0;
    color: var(--bgC);
}
footer ul{
    margin-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 0;
}
footer li{
    background-color: var(--pbrandC);
    padding: 0;
}
footer h4{
    margin: 1px;
    align-self: center;
    color: var(--bgC);
}
footer p{
    margin: 1px;
    align-self: center;
    color: var(--bgC);
}
footer .navLink,footer a, .navBar a{
    padding-left: 1rem;
    color: var(--bgC);
    text-decoration: none;
    display: flex;
    align-items: center;   
}
.icon{
    color: var(--accC);
}
.icon:hover{
    scale: 1.3;
}
.instagram:hover{
    fill: pink;
}
.gmail:hover{
    color: red;
}
.whatsapp:hover{
    fill: green;
}
.eCard{
    box-sizing: border-box;
    display: inline-flex; 
    background-color: var(--pbrandC);
    flex-direction: column;
    text-align: center;
    color: var(--bgC);
    border-radius: 0.5rem;
    justify-self: center;
    width: 320px;
    margin: 0.5rem;
}
.eCard button{
    padding: 0.5em;
}
.eDetails{
    display: grid;
    grid-template-columns: max-content auto;
    border-radius: 1rem;
    margin-top: 0;
}
.eDetails dt{
    font-weight: bold;
    text-align: left;
    background-color: var(--accC);
    display: inline-block;
    padding: 0.5rem;
    color: var(--bgC);
}
.eDetails dd{
    margin: 0;
    text-align: left;
    background-color: var(--pbrandC);
    color: var(--bgC);
    padding: 0.5rem;
}
.eDetails a{
    color: var(--accC)
}
.posterFrame{
    width:320px;
    height: 320px;
    display: flex;
    align-content: center;
    justify-content: center;
    object-fit: contain;
}
.posterFrame img{
    max-width: 95%;
    max-height: 100%;
    object-fit: contain;
}
.icon2{
    fill: var(--accC);
}
.navBar .activeLink{
    border-bottom: 2px solid var(--accC);
    font-weight: bold;
    scale: 1.05;
}
.sidebarOpen .activeLink{
    background-color: var(--accC); 
    border-radius: 1rem;
    font-weight: bold;   
}
.sidebarClosed .dp2, .sidebarClosed p{
    display: none;
}
.sidebarOpen p{
    text-align: center;
    margin-top: 0;
}
.myProfile{
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:clamp(250px, 70vw, 400px);
    justify-self: center;
    /* background-color: var(--pbrandC); */
    background: radial-gradient(circle, var(--pbrandC),black);
    color: white;
    gap: 0;
    padding: 1rem;
}
.myProfile p{
    margin-top: 0;
}
.dpdiv{
    width: clamp(100px, 40vw, 320px);
    height: clamp(100px, 40vw, 320px);
    margin-bottom: 1rem;
    background-color: var(--accC);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--secoFont);
}
.profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    gap:0;
    margin-top: 1rem;
}
.profile .dp{
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: var(--accC);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--secoFont);
}
.profile p{
    font-weight: normal;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
textarea{
    border-radius: 1rem;
    font-family: var(--primaryFont);
    padding: 1vw;
    width:90vw;
}
.authorPic{
    width: 3rem;
    border-radius: 40%;
    display: inline;
}
.search{
    width: 90vw;
    border-radius: 50px;
    display: flex;
    border: 1px solid;
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: hsl(0, 0%, 80%);
    justify-self: center;
}
.search:hover, .search:focus-within{
    box-shadow: 5px 5px 5px var(--accC);
}
.search input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
}
.search input:focus{
    border: none;
    outline: none;
}
.search .icon{
    color: var(--accC);
}
.article{
    font-family: var(--secoFont);
}
.adminCard{
    background-color: var(--pbrandC);
    color: var(--bgC);
    width:clamp(250px, 40vw, 600px);
    margin: 5px;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.adminCard h3{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--accC);
    font-size: 1.4rem;
}
.adminCard ul{
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.adminCard li{
    background-color: transparent;
    text-align: center;
    display: inline-block;
    padding: 5px;
}
.adminCard button{
    width: 50%;
    display: inline;
    align-self: center;
    padding: 1%;

}
form{
    background-color: hsl(0, 0%, 90%);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    justify-items: center;
}
form h2,form h3{
    font-family: var(--primaryFont);
    justify-self: center;
}
form input,form select, form textarea{
    width: 80vw;
    max-width: 700px;
    display: block;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 8px;
    box-sizing: border-box;
}
form input[type="radio"]{
    display: inline;
    width: auto;
}
form input[type="checkbox"]{
    display: inline;
    width: auto;
}
form label:hover{
    color: var(--accC);
    font-weight: bold;
}
form input:hover,form input:focus,form select:hover,form select:focus{
    box-shadow: 5px 5px 3px var(--accC);
    outline: none;
}
form p{
    font-family: var(--secoFont);
}
.userDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: hsl(0, 0%, 90%);
    border-radius: 1rem;
    margin: 0.5rem;
    font-family: var(--secoFont);
}
.userIcon{
    width: 60px;
    height: 60px;
    background-color: var(--accC);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--secoFont);
    margin: 0.5rem;
}
.articlePreview{
    background-color: white;
    width: 90vw;
    text-align: left;
}
.articlePreview li{
    font-family: var(--primaryFont);
}
@media(max-width: 550px){
    .carousel{
    width: 100%;
    height: 50vh;
    }
    .slide img{
        height: 50vh;
        object-fit: cover;
    }
    .caption{
    font-size: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    max-width: 70%;
    background-color: var(--pbrandC);
    height: 15vw;
    position: absolute;
    box-shadow: none;
    bottom: 0%;
    left: 0;
    padding: 1rem;
    border-top-right-radius: 1rem;
    }
    .navLinks{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .profileCard{
        flex-direction: column;
    }
    .debatorName{
        text-align: center;
    }
    .profile{
        display: none;
    }
    .dp2{
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        background-color: var(--accC);
        border-radius: 50%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;
        font-family: var(--secoFont);
        position: relative;
        align-self: center;
    }
}